<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%);

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%);

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }


  .angular-logo {
    max-width: 9.2rem;
  }

  .divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
  }


  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>

<main class="main">
  <div class="left-side">
    <div class="content">
      <h1>Hello, {{ title }} PB</h1>

      <!-- filter section -->
      <section>
        <div class="filters">
          <h2>Sort</h2>
          <label for="sort">Sort</label>
          <select name="sort" id="sort" [(ngModel)]="sortKey" (change)="sortBy()">
            <option value="value/fw">Price ascending</option>
            <option value="value/rw">Price descending</option>
            <option value="totalpoints/fw">Total Points ascending</option>
            <option value="totalpoints/rw">Total Points descending</option>
            <option value="pricePerPoint/fw">Price per point ascending</option>
            <option value="pricePerPoint/rw">Price per point descending</option>
          </select>
          <h2>Filters</h2>
          <label for="gender">gender</label>
          <select id="gender" [(ngModel)]="filterGender" (change)="applyFilters()">
            <option value="">All Genders</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div class="filter-row totalPoints">
            <label>Total Points</label>
            <input type="number" placeholder="Min" [(ngModel)]="totalPointsfilter.min" (input)="applyFilters()" />
            <input type="number" placeholder="Max" [(ngModel)]="totalPointsfilter.max" (input)="applyFilters()" />
          </div>

          <div *ngFor="let round of rounds" class="filter-row">
            <label>{{ round }}</label>
            <input type="number" placeholder="Min" [(ngModel)]="roundFilters[round].min" (input)="applyFilters()" />
          </div>

          <button (click)="resetFilters()">Reset</button>
        </div>
      </section>
      <section>
        <h4 [ngClass]="{overBudget: sum>money}">Your Team {{sum}}$</h4>
        <h4 [ngClass]="{overBudget: sum>money}">budget: {{budget}}$</h4>
        <h4 class="errorMessage">{{errorMessage}}</h4>
        <ul class="athleteList">
          <li class="athlete" *ngFor="let athlete of team">
            <div class="name">{{ athlete.firstname }} {{ athlete.lastname }}</div>
            <div class="data">
              <div class="price">{{ athlete.value }}$ </div>
              <div class="points">{{ athlete.totalpoints }}</div>
              <div class="pricePerPoint">{{ athlete.pricePerPoint }}</div>
              <div class="teamAction" *ngIf="!athlete.selected" (click)="selectAthlete(athlete)">+</div>
              <div class="teamAction" *ngIf="athlete.selected" (click)="deselectAthlete(athlete)">-</div>
            </div>
          </li>
        </ul>
        <button *ngIf="team.length > 0" (click)="clearTeam()">Clear team</button>
        <button *ngIf="team.length > 0" (click)="saveForLater()">Save For Later</button>
      </section>
      <section>
        <h4>History</h4>
        <!-- historyTeams -->
        <ul class="athleteList" *ngFor="let team of historyTeams">
          #{{team.number}}
          <li class="athlete" *ngFor="let athlete of team.data">
            <div class="name">{{ athlete.firstname }} {{ athlete.lastname }}</div>
            <div class="data">
              <div class="price">{{ athlete.value }}$ </div>
              <div class="points">{{ athlete.totalpoints }}</div>
              <div class="pricePerPoint">{{ athlete.pricePerPoint }}</div>
              <div class="teamAction" *ngIf="!athlete.selected" (click)="selectAthlete(athlete)">+</div>
              <div class="teamAction" *ngIf="athlete.selected" (click)="deselectAthlete(athlete)">-</div>
            </div>
          </li>
          <button (click)="deleteOneFromHistory(team.number)">delete this from history</button>
        </ul>
      </section>
      <button (click)="clearHistory()">Clear History</button>
    </div>
  </div>
  <div class="divider" role="separator" aria-label="Divider"></div>
  <div class="right-side">
    <section>
      <ul *ngIf="filteredAthletes.length > 0" class="athleteList">
        <li class="athlete">
          <div class="name">Name</div>
          <div class="price">Price</div>
          <div class="points">Points</div>
          <div class="pricePerPoint">Price Per Point</div>
          <div class="action">+/-</div>
        </li>
        <li class="athlete" *ngFor="let athlete of filteredAthletes"
          [ngClass]="{overBudget: athlete.overBudget, selected: athlete.selected}">
          <div class="name"> {{ athlete.firstname }} {{ athlete.lastname }}</div>
          <div class="price">{{ athlete.value }}$ </div>
          <div class="points">{{ athlete.totalpoints }}</div>
          <div class="pricePerPoint">{{ athlete.pricePerPoint }}</div>
          <div class="teamAction" *ngIf="!athlete.selected" (click)="selectAthlete(athlete)">+</div>
          <div class="teamAction" *ngIf="athlete.selected" (click)="deselectAthlete(athlete)">-</div>
        </li>
      </ul>
    </section>
    <section>
      <ul class="athleteList" *ngIf="data">
        <li class="athlete">
          <div class="name">Name</div>
          <div class="price">Price</div>
          <div class="points">Points</div>
          <div class="pricePerPoint">Price Per Point</div>
          <div class="action">+/-</div>
        </li>
        <li class="athlete" *ngFor="let athlete of data"
          [ngClass]="{injury: athlete.injury, overBudget: athlete.overBudget, selected: athlete.selected}">
          <div class="name"> {{ athlete.firstname }} {{ athlete.lastname }}</div>
          <div class="data">
            <div class="price">{{ athlete.value }}$ </div>
            <div class="points">{{ athlete.totalpoints }}</div>
            <div class="pricePerPoint">{{ athlete.pricePerPoint }}</div>
            <div class="teamAction" *ngIf="!athlete.selected" (click)="selectAthlete(athlete)">+</div>
            <div class="teamAction" *ngIf="athlete.selected" (click)="deselectAthlete(athlete)">-</div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</main>

<!-- todo -->
<!-- multiple teams in LS -->
<!-- stats for teams from LS and current -->


<router-outlet />