<section>
        <div class="filters">
          <h3>Filters</h3>
          
          <div class="filter-row checkbox">
            <label for="injuryFilter">not injured</label>
            <input type="checkbox" id="injuryFilter" [(ngModel)]="injuryfilter" (change)="applyFilters()">
          </div>

          <div class="filter-row">
            <label for="nameFilter">Filter by name</label>
            <input id="nameFilter" type="text" [(ngModel)]="nameFilter" (input)="applyFilters()" placeholder="Filter by name" />
          </div>

          <label for="gender">by gender</label>
          <select id="gender" [(ngModel)]="filterGender" (change)="applyFilters()">
            <option value="">All Genders</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          
          <div class="filter-row totalPoints">
            <label>by total Points</label>
            <input type="number" min="0" placeholder="Min" [(ngModel)]="totalPointsfilter.min" (input)="applyFilters()" />
            <input type="number" placeholder="Max" [(ngModel)]="totalPointsfilter.max" (input)="applyFilters()" />
          </div>
          
          <div class="filter-row byCountry">
            <label>by country</label>
            <select [(ngModel)]="countryFilter" (change)="applyFilters()">
              <option value="">All Countries</option>
              <option *ngFor="let c of countrylist" [value]="c.contryCode">{{c.countryName}} // #ath: {{c.athletes}} // #points: {{c.points}}</option>
            </select>
          </div>
                    
          <div class="filter-row totalPoints">
            <label>by total weightedPointDelta</label>
            <input type="number" min="{{minweightedPointDelta}}" step="0.1" placeholder="{{minweightedPointDelta}}"
              [(ngModel)]="weightedPointDeltaFilter.min" (input)="applyFilters()" />
            <input type="number" max="{{maxweightedPointDelta}}" step="0.1" placeholder="{{maxweightedPointDelta}}"
              [(ngModel)]="weightedPointDeltaFilter.max" (input)="applyFilters()" />
          </div>

          <div class="filter-row totalPoints">
            <label>by total weightedPriceDelta</label>
            <input type="number" step="1000" min="{{minweightedPriceDelta}}" placeholder="{{minweightedPriceDelta}}"
              [(ngModel)]="weightedPriceDeltaFilter.min" (input)="applyFilters()" />
            <input type="number" step="1000" max="{{maxweightedPriceDelta}}" placeholder="{{maxweightedPriceDelta}}"
              [(ngModel)]="weightedPriceDeltaFilter.max" (input)="applyFilters()" />
          </div>

          <div *ngFor="let round of rounds, index as i" class="filter-row">
            <label>by # points &#64; {{roundsAliases[i]}}</label>
            <input type="number" placeholder="Min" [(ngModel)]="roundFilters[round].min" (input)="applyFilters()" />
          </div>

          <button (click)="resetFilters()">Reset</button>
        </div>
      </section>