<section class="currentTeam">
    <h4 [ngClass]="{overBudget: sum>money}">Your Team {{sum | currency: 'USD':'symbol':'1.0-0'}} - budget: {{budget
        | currency: 'USD':'symbol':'1.0-0'}}</h4>
    <h4 class="errorMessage">{{errorMessage}}</h4>
    <h4 class="nrathletePerTeam">
        <span
            [ngClass]="{insuficient: nrWomenPerTeam/maxNrWomenPerTeam < 1, cool: nrWomenPerTeam/maxNrWomenPerTeam == 1, wrong: nrWomenPerTeam/maxNrWomenPerTeam > 1}">women
            {{nrWomenPerTeam}} / {{maxNrWomenPerTeam}}</span><br> <span
            [ngClass]="{insuficient: nrMenPerTeam/maxNrMenPerTeam < 1, cool: nrMenPerTeam/maxNrMenPerTeam == 1, wrong: nrMenPerTeam/maxNrMenPerTeam > 1}">
            men {{nrMenPerTeam}} / {{maxNrMenPerTeam}}</span>
    </h4>

    <ul class="athleteList" title="{{currentStats | json}}">
        <li class="athlete" *ngFor="let athlete of team">
            <div class="name"><span *ngIf="athlete.inQuali">!!!</span> {{ athlete.firstname }} {{ athlete.lastname }}
            </div>
            <div class="data">
                <div class="price">{{ athlete.value | currency: 'USD':'symbol':'1.0-0'}} </div>
                <div class="points">{{ athlete.totalpoints }}</div>
                <div class="pricePerPoint">{{ athlete.pricePerPoint }}</div>
                <div class="teamAction" *ngIf="!athlete.selected" (click)="actionAthlete(athlete)">+</div>
                <div class="teamAction" *ngIf="athlete.selected" (click)="actionAthlete(athlete)">-</div>
            </div>
        </li>
        <li class="athlete"
            *ngFor="let item of [].constructor(maxNrMenPerTeam - nrMenPerTeam >= 0 ? maxNrMenPerTeam - nrMenPerTeam : 0)">
            Pick Male WC Racer
        </li>
        <li class="athlete"
            *ngFor="let item of [].constructor(maxNrWomenPerTeam - nrWomenPerTeam >= 0 ? maxNrWomenPerTeam - nrWomenPerTeam : 0)">
            Pick Female WC Racer</li>
    </ul>
    <button *ngIf="team.length > 0" (click)="clearTeam()">Clear team</button>
    <button *ngIf="team.length > 0" (click)="saveForLater()">Save For Later</button>
</section>