h4 {
  margin: 0;
}

.history,
.currentTeam {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;

  color: black;

  h4 {
    margin: 0 0 0 0;
  }
}